/*** GENERAL ***/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    position: relative;
    background: url(images/fond.jpg) no-repeat fixed center center #25345c;
    background-size: cover;
    margin: 0;
    padding: 0;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #25345c;
}

body * {
    position: relative;
}

img {
    width: 80px;
    height: auto;
    margin: 1px;
}

.container {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 24px 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

@media (max-width: 1400px) {
    .container {
        width: calc(100% - 16px);
        padding: 24px 8px;
    }
}

h1 {
    margin: 0;
    text-align: center;
}

/*** ZONE TIER LIST ***/

#tier-list {
    border-collapse: collapse;
    width: 100%;
    margin: 24px auto;
    border: 1px solid #000000;
    color: #000000;
}

/* Lignes */
.tier-row {
    display: flex;
}

.tier-row:not(:last-child) {
    border-bottom: 1px solid black;
}

/* Labels */
.tier-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: auto;
    min-height: 80px;
    border-right: 1px solid black;
    text-align: center;
}

.tier-row:first-child .tier-label {
    background-color: #ff7f7f;
}

.tier-row:nth-child(2) .tier-label {
    background-color: #ffbf7f;
}

.tier-row:nth-child(3) .tier-label {
    background-color: #ffdf7f;
}

.tier-row:nth-child(4) .tier-label {
    background-color: #ffff7f;
}

.tier-row:nth-child(5) .tier-label {
    background-color: #bfff7f;
}

.tier-row:nth-child(6) .tier-label {
    background-color: #ffffff;
}

.tier-row:last-child .tier-label {
    background-color: #dddddd;
}

/* Tiers */
.tier {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 2px;
}

/*** ZONE LISTE PERSO ***/
#list-character {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 24px auto 0;
}
